.about
    position: relative
    padding: 65px 0
    background-image: url("../img/backgrounds/3.webp")

    .container
        padding: 0 144px

    .img-left
        position: absolute
        left: 0
        bottom: -122px

    .back-img
        top: -49px
        left: 639px
        width: 1083px

    &__text
        font-family: "Open Sans"
        font-weight: 400
        font-size: 20px
        line-height: 23px
        text-align: center

    &__design
        display: flex
        align-items: center
        justify-content: center
        gap: 41px

        .design
            &__image
                width: 454px
                height: auto

            &__text
                max-width: 359px
                margin-top: -40px
