@import base

.first
    &__title
        font-family: "Thirsty Caps"
        font-size: 130px
        line-height: 116px
        color: $yellow

        & > *
            display: inline

        &-lower
            font-size: 100px
            line-height: 89px
            @media screen and (max-width: $tabletS)
                font-size: 50px
                line-height: 44px

        @media screen and (max-width: $tabletS)
            font-size: 65px
            line-height: 58px
        @media screen and (max-width: $mobileS)
            text-shadow: 3px 3px 5px #262200
            font-size: 60px
            line-height: 53px


    .slick-dotted.slick-slider
        margin-bottom: 0

    .slide
        height: 674px
        background-position: center
        background-size: cover
        @media screen and (max-width: $tabletS)
            height: 387px
        @media screen and (max-width: $mobileS)
            height: 497px
            background-position: center
            background-image: url("../img/backgrounds/Фон 1 Mobile.png")
            background-image: url("../img/backgrounds/Фон 1 Mobile.webp")
            background-color: $black-op80

        .container
            padding: 58px 34px 0px
            @media screen and (max-width: $mobileS)
                padding: 60px 0 0


        &-who
            background-image: url("../img/backgrounds/Фон 1.webp")
            @media screen and (max-width: $mobileS)
                background-position: center
                background-image: url("../img/backgrounds/Фон 1 Mobile.png")
                background-image: url("../img/backgrounds/Фон 1 Mobile.webp")
                background-color: $black-op80


            .container
                display: grid
                grid-template-columns: 1fr 1fr
                align-items: center
                @media screen and (max-width: $mobileS)
                    display: flex
                    flex-direction: column

            .slide__title
                text-align: center
                margin-top: -68px
                margin-left: 69px
                @media screen and (max-width: $tabletS)
                    margin-left: 44px
                    margin-top: -15px
                @media screen and (max-width: $mobileS)
                    margin-left: 0


            .slide__images
                position: relative
                //min-height: 560px
                //min-width: 600px
                display: grid
                @media screen and (max-width: $mobileS)
                    margin-left: 20px

                picture
                    position: relative

                    img
                        width: 100%

                .image-hello
                    //position: absolute
                    //top: 25px
                    //right: 0
                    width: 348px
                    grid-column: 3/6
                    grid-row: 1/4
                    place-self: start end
                    @media screen and (max-width: $tabletS)
                        width: 132px
                        margin-left: -41px
                    @media screen and (max-width: $mobileS)
                        display: none

                .image-flakes
                    width: 410px
                    height: auto
                    //position: absolute
                    //top: 0
                    //left: 0
                    grid-column: 1/6
                    grid-row: 1/4
                    @media screen and (max-width: $tabletS)
                        width: 217px
                    @media screen and (max-width: $mobileS)
                        width: 180px
                        grid-column: 1/5
                        grid-row: 1/4

                .image-pine
                    grid-column: 3/6
                    grid-row: 2/6
                    margin-top: -30px
                    width: 430px
                    height: auto
                    place-self: center
                    @media screen and (max-width: $tabletS)
                        width: 207px
                        margin-top: 0px
                    @media screen and (max-width: $mobileS)
                        margin-top: 15px
                        grid-column: 4/6
                        grid-row: 1/6
                        transform: rotate(30deg)

            & .btn
                display: none
                @media screen and (max-width: $mobileS)
                    display: block
                    margin-top: 50px

        &-shop
            background-image: url("../img/backgrounds/Фон 2.webp")

            & .container
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                background-image: url("../img/first-shop.webp")
                //background-position-y: -54px
                background-position-y: bottom
                background-position-x: center
                background-repeat: no-repeat
                @media screen and (max-width: $tabletS)
                    background-size: contain
                @media screen and (max-width: $mobileS)
                    padding: 0
                    background-position: 20px 70px


            & .h1
                font-size: 130px
                line-height: 150px
                margin-bottom: 36px
                @media screen and (max-width: $tabletS)
                    font-size: 90px
                    line-height: 110px
                    margin-bottom: 20px
                @media screen and (max-width: $mobileS)
                    font-size: 70px
                    line-height: 90px


    &__dots
        z-index: 10
        bottom: 95px
        @media screen and (max-width: $tabletS)
            bottom: 50px
        @media screen and (max-width: $mobileS)
            bottom: 100px

        li
            width: 25px
            height: 25px
            background-color: $white
            border-radius: 50%
            margin: 0 13px
            @media screen and (max-width: $tabletS)
                width: 16px
                height: 16px
                margin: 0 10px
            @media screen and (max-width: $mobileS)
                width: 11px
                height: 11px
                margin: 0 6px

            &.slick-active
                background-color: $red-purple

            & button
                display: none

    &__arrow
        position: absolute
        top: 50%
        width: 47px
        height: 47px
        padding: 5px
        border-radius: 4px
        background-image: url("../img/arrow.svg")
        background-position: center
        background-color: $light-grey
        background-repeat: no-repeat
        opacity: 0.6
        z-index: 10
        @media screen and (max-width: $tabletS)
            width: 27px
            height: 27px
            background-size: 14px
            top: 40%

        &.arrow-prev
            left: 34px
            @media screen and (max-width: $tabletS)
                left: 20px

        &.arrow-next
            right: 34px
            transform: rotate(180deg)
            @media screen and (max-width: $tabletS)
                right: 20px

        &:hover
            opacity: 1
            cursor: pointer