@import base

.header
    background-color: $black
    font-weight: 600
    .container
        display: flex
        gap: 71px
        padding: 26px 50px
        color: $white
        font-weight: 600
        font-size: 18px
        line-height: 22px

    a
        color: $white

    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%

        .menu
            display: flex
            gap: 30px

            &-item
                a
                    opacity: 0.6

                    &:hover
                        opacity: 1
