@import "base"
.how
    position: relative
    padding-top: 63px
    color: $white
    background-image: url("../img/backgrounds/1.webp")

    .back-img
        width: 313px
        top: -5px
        left: -10px
        transform: scaleX(-1)

    h2
        margin-bottom: 0

    &__slider
        margin-top: -50px

        &.slick-dotted.slick-slider
            margin-bottom: 0

    &__dots
        z-index: 10
        bottom: 15px

        li
            width: 16px
            height: 16px
            background-color: $dark-grey
            border-radius: 50%

            &.slick-active
                background-color: $white

            & button
                display: none

    .slide
        display: flex
        justify-content: center
        align-items: center

        &__image
            width: 433px
            height: auto

        &__title
            display: inline-block
            padding: 5px
            margin-bottom: 30px
            font-family: Gilroy
            font-size: 30px
            line-height: 38px
            font-weight: 800
            background-color: $black

        &__desc
            max-width: 270px
            font-family: Gilroy
            font-size: 18px
            line-height: 25px
            background-color: $black-op50