@import base
.partner
    padding: 28px 0 44px
    background-image: url("../img/backgrounds/3.webp")
    @media screen and (max-width: $tabletS)
        padding: 32px 0
    @media screen and (max-width: $mobileS)
        padding: 36px 0 55px
        position: relative
        overflow-x: clip

    h2
        font-family: "Spray Letters"
        font-size: 40px
        line-height: 100%
        letter-spacing: 0.0em
        @media screen and (max-width: $tabletS)
            margin-bottom: 10px
            font-size: 23px
        @media screen and (max-width: $mobileS)
            font-size: 30px
            margin-bottom: 17px

    &__subtitle
        text-align: center
        @media screen and (max-width: $tabletS)
            font-size: 16px
            line-height: 20px
        @media screen and (max-width: $mobileS)
            margin-bottom: 36px
            font-size: 13px
            line-height: 16px

    &__content
        margin: 0 290px 0 390px
        display: flex
        align-items: flex-end
        justify-content: center
        gap: 320px
        @media screen and (max-width: $tabletS)
            margin: 0 0 0 30px
            gap: 235px
        @media screen and (max-width: $mobileS)
            display: block
            margin: 0 0 0 50px

    &__contacts
        & .contact
            display: flex
            gap: 20px
            margin-bottom: 20px
            font-size: 18px
            line-height: 22px
            @media screen and (max-width: $tabletS)
                margin-bottom: 7px
                font-size: 13px
                line-height: 16px
            @media screen and (max-width: $mobileS)
                margin-bottom: 15px
                font-size: 12px
                line-height: 14px

            &__icon
                svg
                    width: 22px
                    height: auto

                @media screen and (max-width: $tabletS)
                    display: none
                @media screen and (max-width: $mobileS)
                    display: inline-block
                    svg
                        width: 13px

    &__image
        img
            width: 100%
            height: auto

        @media screen and (max-width: $tabletS)
            width: 130px
            transform: rotate(21deg)
        @media screen and (max-width: $mobileS)
            width: 177px
            transform: rotate(-27deg)
            right: -60px
            position: absolute
            top: 100px