@import "base"

.why
    color: $white
    background-image: url("../img/backgrounds/1.webp")

    .container
        padding: 82px 160px 60px
        @media screen and (max-width: $tabletS)
            padding: 35px 80px 57px

    &__phrase
        margin-left: 22px
        font-family: "Thirsty Caps"
        font-size: 90px
        line-height: 80px
        font-weight: 400
        text-align: center
        color: $yellow
        @media screen and (max-width: $tabletS)
            font-size: 55px
            line-height: 49px

    h2
        @media screen and (max-width: $tabletS)
            margin-bottom: 0px

    &__items
        display: flex
        gap: 4px
        margin-bottom: 74px
        @media screen and (max-width: $tabletS)
            flex-wrap: wrap
            justify-content: center
            gap: 20px
            margin-bottom: 28px

        .item
            display: flex
            flex-direction: column
            align-items: center
            padding-top: 35px
            width: 220px
            @media screen and (max-width: $tabletS)
                width: 189px
                background-image: url("../img/icon-back.png")
                background-size: 176px
                background-position: top
                background-repeat: no-repeat

            &__icon
                margin-bottom: 47px
                height: 80px
                @media screen and (max-width: $tabletS)
                    height: 65px
                    img
                        height: 65px


            &__title
                max-width: 205px
                margin-bottom: 8px
                font-weight: 700
                font-size: 20px
                line-height: 25px
                text-align: center
                @media screen and (max-width: $tabletS)
                    font-size: 18px
                    line-height: 22px

            &__desc
                font-weight: 600
                font-size: 13px
                line-height: 16px
                text-align: center
                @media screen and (max-width: $tabletS)
                    font-size: 12px
                    line-height: 15px
