@charset "UTF-8";

/* Экраны */

/* Цвета */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

700&display=swap");
@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
  max-width: 1440px;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-grey,
.btn-grey {
  padding: 2px;
  border: 0.5px solid transparent;
  background-color: transparent;
  color: black;
  border-radius: 6px;
}

button-grey .content,
.btn-grey .content {
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
  border-radius: 6px;
}

button-grey:hover,
.btn-grey:hover {
  border: 0.5px solid #E3E3E3;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.about {
  position: relative;
  background-image: url("../img/backgrounds/3.webp");
  overflow-x: clip;
}

.about .container {
  position: relative;
  padding: 68px 188px;
  overflow: hidden;
}

.about h2 {
  margin: 0 auto 40px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 3px solid black;
}

.about .img-left {
  position: absolute;
  left: 0;
  bottom: -122px;
}

.about .back-img {
  z-index: 0;
  top: -94px;
  left: 639px;
  width: 1083px;
}

.about .img-right {
  display: none;
  position: absolute;
  z-index: 0;
}

.about__text {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: center;
}

.about__text br {
  display: none;
}

.about__design {
  margin-top: 36px;
  margin-left: 216px;
  display: grid;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
}

.about__design .design__image {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 415px;
  height: auto;
}

.about__design .design__text {
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: center;
  font-family: "Thirsty Caps";
  font-size: 75px;
  line-height: 67px;
  text-align: center;
  letter-spacing: 0.04em;
  max-width: 359px;
}

.about__design .design__btn {
  grid-column: 2/3;
  grid-row: 2/3;
  place-self: start center;
  padding: 7px 30px;
  z-index: 10;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }

  h1,
  .h1 {
    font-size: 50px;
    line-height: 58px;
  }

  h2,
  .h2 {
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 44px;
  }

  button,
  .btn {
    padding: 7px 20px;
    font-size: 22px;
    line-height: 28px;
  }

  .fs-25 {
    font-size: 16px;
    line-height: 20px;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-23 {
    font-size: 18px;
  }

  .lh-26 {
    line-height: 20px;
  }

  .about .container {
    padding: 59px 85px 86px;
  }

  .about h2 {
    margin-bottom: 52px;
  }

  .about .img-left {
    width: 258px;
    bottom: -93px;
  }

  .about .back-img {
    -webkit-transform: scaleX(-1) rotate(16deg);
        -ms-transform: scaleX(-1) rotate(16deg);
            transform: scaleX(-1) rotate(16deg);
    width: 609px;
    left: -173px;
    top: -16px;
  }

  .about .img-right {
    opacity: 0.15;
    display: block;
    width: 563px;
    right: -216px;
    left: unset;
    top: 229px;
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }

  .about__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
  }

  .about__design {
    margin-left: 0;
  }

  .about__design .design__image {
    grid-row: 2/3;
    place-self: center;
    margin-bottom: 66px;
    width: 330px;
  }

  .about__design .design__text {
    grid-column: 1/2;
    margin: 0;
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 49px;
  }

  .about__design .design__btn {
    grid-column: 1/2;
    grid-row: 3/4;
    place-self: center;
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width: 600px) {
  h1,
  .h1 {
    font-size: 40px;
    line-height: 46px;
  }

  .fs-25 {
    font-size: 13px;
    line-height: 16px;
  }

  .fs-20 {
    font-size: 14px;
  }

  .fs-23 {
    font-size: 14px;
  }

  .lh-26 {
    line-height: 14px;
  }

  .about .container {
    padding: 40px 25px 63px;
  }

  .about h2 {
    margin-bottom: 68px;
  }

  .about .img-left {
    display: none;
  }

  .about .back-img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 310px;
    top: 45px;
    right: -97px;
    left: unset;
  }

  .about .img-right {
    display: none;
  }

  .about__text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  .about__text br {
    display: inline-block;
  }

  .about__design {
    margin: 51px auto 0;
  }

  .about__design .design__image {
    margin-bottom: 64px;
    width: 90vw;
    max-width: 90%;
  }

  .about__design .design__text {
    margin-bottom: 38px;
  }

  .about__design .design__btn {
    font-size: 20px;
    line-height: 24px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 600px){

@supports (-webkit-appearance:none){

}

}
