@charset "UTF-8";

/* Экраны */

/* Цвета */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

700&display=swap");
@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
  max-width: 1440px;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-grey,
.btn-grey {
  padding: 2px;
  border: 0.5px solid transparent;
  background-color: transparent;
  color: black;
  border-radius: 6px;
}

button-grey .content,
.btn-grey .content {
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
  border-radius: 6px;
}

button-grey:hover,
.btn-grey:hover {
  border: 0.5px solid #E3E3E3;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.how {
  position: relative;
  padding: 64px 0 19px;
  color: white;
  background-image: url("../img/backgrounds/1.png");
}

.how .back-img {
  width: 313px;
  top: -20px;
  left: -10px;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.how h2 {
  margin-bottom: 0;
}

.how__slider {
  margin-top: -45px;
}

.how__slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.how__slider .arrow {
  top: 42%;
}

.how__slider .arrow.arrow-next {
  right: 76px;
}

.how__slider .arrow.arrow-prev {
  left: 76px;
}

.how__dots {
  z-index: 10;
  bottom: 0px;
}

.how__dots li {
  margin: 0 3px;
  width: 16px;
  height: 16px;
  background-color: #676767;
  border-radius: 50%;
}

.how__dots li.slick-active {
  background-color: white;
}

.how__dots li button {
  display: none;
}

.how .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}

.how .slide__image {
  margin-left: -160px;
  width: 433px;
  height: auto;
}

.how .slide__image img {
  width: 100%;
  height: auto;
}

.how .slide__title {
  display: inline-block;
  padding: 5px;
  margin: 30px 0;
  font-family: Gilroy;
  font-size: 30px;
  line-height: 38px;
  font-weight: 800;
  background-color: black;
}

.how .slide__desc {
  max-width: 270px;
  font-family: Gilroy;
  font-size: 25px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.how__btn {
  display: none !important;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }

  h1,
  .h1 {
    font-size: 50px;
    line-height: 58px;
  }

  h2,
  .h2 {
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 44px;
  }

  button,
  .btn {
    padding: 7px 20px;
    font-size: 22px;
    line-height: 28px;
  }

  .fs-25 {
    font-size: 16px;
    line-height: 20px;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-23 {
    font-size: 18px;
  }

  .lh-26 {
    line-height: 20px;
  }

  .how {
    padding: 71px 0 40px;
  }

  .how .back-img {
    width: 207px;
    left: 0;
  }

  .how__slider {
    margin-top: -32px;
  }

  .how__slider .arrow {
    top: 38%;
    width: 45px;
    height: 45px;
    background-size: 22px;
  }

  .how__slider .arrow.arrow-next {
    right: 80px;
  }

  .how__slider .arrow.arrow-prev {
    left: 80px;
  }

  .how__dots {
    bottom: -25px;
  }

  .how__dots li {
    width: 19px;
    height: 19px;
  }

  .how .slide {
    gap: 10px;
  }

  .how .slide__image {
    margin-left: -120px;
    width: 259px;
  }

  .how .slide__title {
    margin: 20px 0 22px;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 25px;
  }

  .how .slide__desc {
    max-width: 145px;
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 600px) {
  h1,
  .h1 {
    font-size: 40px;
    line-height: 46px;
  }

  .fs-25 {
    font-size: 13px;
    line-height: 16px;
  }

  .fs-20 {
    font-size: 14px;
  }

  .fs-23 {
    font-size: 14px;
  }

  .lh-26 {
    line-height: 14px;
  }

  .how {
    padding: 64px 0 50px;
  }

  .how .back-img {
    display: none;
  }

  .how__slider {
    margin-top: 0;
  }

  .how__slider.slick-dotted.slick-slider {
    margin-bottom: 60px;
  }

  .how__dots {
    bottom: -30px;
  }

  .how__dots li {
    width: 11px;
    height: 11px;
  }

  .how .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .how .slide__image {
    margin-left: 0;
  }

  .how .slide__content {
    text-align: center;
  }

  .how .slide__title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .how__btn {
    display: block;
    font-size: 15px;
    line-height: 18px;
    max-width: 166px;
    margin: 0 auto;
  }
}
@supports (-webkit-appearance:none){
.how{background-image:url("../img/backgrounds/1.webp")}
}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 600px){

@supports (-webkit-appearance:none){

}

}
