@charset "UTF-8";

/* Экраны */

/* Цвета */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

700&display=swap");
@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-grey,
.btn-grey {
  padding: 2px;
  border: 0.5px solid transparent;
  background-color: transparent;
  color: black;
  border-radius: 6px;
}

button-grey .content,
.btn-grey .content {
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
  border-radius: 6px;
}

button-grey:hover,
.btn-grey:hover {
  border: 0.5px solid #E3E3E3;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.wrapper {
  display: none;
}

.wrapper.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup {
  margin: auto;
  padding: 130px 160px;
  background-color: rgba(35, 35, 35, 0.95);
  opacity: 0.95;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__title {
  margin-bottom: 18px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.popup__subtitle {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.popup__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 37px;
}

.popup__btns .btn {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.popup__btns .btn .content {
  padding: 16px 32px;
}
@supports (-webkit-appearance:none){

}
