@charset "UTF-8";

/* Экраны */

/* Цвета */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* Экраны */

/* Цвета */

@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.header {
  background-color: black;
  font-weight: 600;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 71px;
  padding: 26px 50px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header a {
  color: white;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header__menu .menu-item a {
  opacity: 0.6;
}

.header__menu .menu-item a:hover {
  opacity: 1;
}

/* Экраны */

/* Цвета */

@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.first__title {
  font-family: "Thirsty Caps";
  font-size: 130px;
  line-height: 116px;
  color: #FAE420;
}

.first__title > * {
  display: inline;
}

.first__title-lower {
  font-size: 100px;
  line-height: 89px;
}

.first .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.first .slide {
  height: 676px;
  background-position: center;
  background-size: cover;
}

.first .slide .container {
  padding: 60px 34px;
}

.first .slide-who {
  background-image: url("../img/backgrounds/Фон 1.webp");
}

.first .slide-who .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first .slide-who .slide__title {
  text-align: center;
}

.first .slide-who .slide__images {
  position: relative;
  min-height: 560px;
  min-width: 600px;
  display: grid;
}

.first .slide-who .slide__images picture {
  position: relative;
}

.first .slide-who .slide__images picture img {
  width: 100%;
}

.first .slide-who .slide__images .image-hello {
  width: 300px;
  grid-column: 3/6;
  grid-row: 1/4;
  place-self: start end;
}

.first .slide-who .slide__images .image-flakes {
  width: 483px;
  height: auto;
  grid-column: 1/6;
  grid-row: 1/4;
}

.first .slide-who .slide__images .image-pine {
  grid-column: 3/6;
  grid-row: 2/6;
  width: 430px;
  height: auto;
  place-self: end;
}

.first .slide-shop {
  background-image: url("../img/backgrounds/Фон 2.webp");
}

.first .slide-shop .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/first-shop.webp");
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.first .slide-shop .h1 {
  font-size: 130px;
  line-height: 150px;
  margin-bottom: 36px;
}

.first__dots {
  z-index: 10;
  bottom: 60px;
}

.first__dots li {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
}

.first__dots li.slick-active {
  background-color: #AA0250;
}

.first__dots li button {
  display: none;
}

.first__arrow {
  position: absolute;
  top: 50%;
  width: 47px;
  height: 47px;
  padding: 5px;
  border-radius: 4px;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-color: #d6d4d4;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 10;
}

.first__arrow.arrow-prev {
  left: 5%;
}

.first__arrow.arrow-next {
  right: 5%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.first__arrow:hover {
  opacity: 1;
  cursor: pointer;
}

.about {
  position: relative;
  background-image: url("../img/backgrounds/3.webp");
}

.about .container {
  position: relative;
  padding: 65px 144px;
  overflow: hidden;
}

.about h2 {
  text-decoration: underline;
}

.about .img-left {
  position: absolute;
  left: 0;
  bottom: -122px;
}

.about .back-img {
  z-index: 0;
  top: -49px;
  left: 639px;
  width: 1083px;
}

.about__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.about__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 41px;
}

.about__design .design__image {
  width: 454px;
  height: auto;
}

.about__design .design__text {
  font-family: "Thirsty Caps";
  font-size: 75px;
  line-height: 67px;
  text-align: center;
  letter-spacing: 0.04em;
  max-width: 359px;
  margin-top: 40px;
  margin-bottom: 64px;
}

.about__design .design__content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Экраны */

/* Цвета */

@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.why {
  color: white;
  background-image: url("../img/backgrounds/1.webp");
}

.why .container {
  padding: 82px 160px 64px;
}

.why__phrase {
  font-family: "Thirsty Caps";
  font-size: 90px;
  line-height: 80px;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #FAE420;
  letter-spacing: 0.03em;
}

.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-bottom: 65px;
}

.why__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  width: 220px;
}

.why__items .item__icon {
  margin-bottom: 50px;
  height: 80px;
}

.why__items .item__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.why__items .item__desc {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

/* Экраны */

/* Цвета */

@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.products {
  background-image: url("../img/backgrounds/1.webp");
}

.products .container {
  position: relative;
}

.products__container-first {
  margin-bottom: 42px;
  background-image: url("../img/backgrounds/4.webp");
}

.products__container-second {
  background-image: url("../img/backgrounds/5.webp");
}

.products__banner {
  position: absolute;
  left: 70px;
}

.products__banner-first {
  top: -80px;
}

.products__banner-second {
  top: -57px;
}

.products__title {
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
}

.products__description {
  margin-bottom: 5px;
  width: 219px;
}

.products__power {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  margin-bottom: 5px;
  padding: 4px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  background-color: #AFAFAF;
}

.products__power .power-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: black;
}

.products__characteristic {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 16px;
}

.products__characteristic .characteristic__name {
  font-weight: 500;
}

.products__btn {
  font-size: 15px !important;
  line-height: 18px !important;
}

.products .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 320px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.products .slide.slick-center .slide__image,
.products .slide.slick-current .slide__image {
  width: 320px;
}

.products .slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .slide__image {
  width: 250px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.products .slide__info {
  margin-left: 0;
  width: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.products .slide__info > * {
  width: 219px;
}

.products .slide:hover .slide__info {
  margin-left: 56px;
  width: 219px;
}

.products__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.products__slider .slick-list {
  height: 330px;
}

.products__slider.slick-dotted.slick-slider {
  padding-top: 10px;
  padding-bottom: 65px;
}

.products__dots {
  z-index: 10;
  bottom: 15px;
}

.products__dots li {
  width: 20px;
  height: 20px;
  background-color: #AFAFAF;
  border-radius: 50%;
}

.products__dots li.slick-active {
  background-color: white;
}

.products__dots li button {
  display: none;
}

.products__arrow {
  position: absolute;
  top: 15%;
  width: 300px;
  height: 300px;
  z-index: 10;
}

.products__arrow.arrow-prev {
  left: 131px;
}

.products__arrow.arrow-next {
  right: 131px;
}

.products__arrow:hover {
  cursor: pointer;
}

/* Экраны */

/* Цвета */

@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.how {
  position: relative;
  padding-top: 63px;
  color: white;
  background-image: url("../img/backgrounds/1.webp");
}

.how .back-img {
  width: 313px;
  top: -5px;
  left: -10px;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.how h2 {
  margin-bottom: 0;
}

.how__slider {
  margin-top: -50px;
}

.how__slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.how__dots {
  z-index: 10;
  bottom: 15px;
}

.how__dots li {
  width: 16px;
  height: 16px;
  background-color: #676767;
  border-radius: 50%;
}

.how__dots li.slick-active {
  background-color: white;
}

.how__dots li button {
  display: none;
}

.how .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how .slide__image {
  width: 433px;
  height: auto;
}

.how .slide__title {
  display: inline-block;
  padding: 5px;
  margin-bottom: 30px;
  font-family: Gilroy;
  font-size: 30px;
  line-height: 38px;
  font-weight: 800;
  background-color: black;
}

.how .slide__desc {
  max-width: 270px;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Экраны */

/* Цвета */

@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.partner {
  padding: 28px 0 61px;
  background-image: url("../img/backgrounds/3.webp");
}

.partner h2 {
  font-family: "Spray Letters";
  font-size: 40px;
  line-height: 40px;
}

.partner__subtitle {
  text-align: center;
}

.partner__content {
  margin: 0 290px 0 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 170px;
}

.partner__contacts .contact {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
}

/* Экраны */

/* Цвета */

@font-face {
  font-family: "Spray Letters";
  src: url("../fonts/SprayLetters.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thirsty Caps";
  src: url("../fonts/thirsty_caps/thirsty_caps/ThirstyCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
.h1 {
  font-family: "Spray Letters";
  font-size: 90px;
  line-height: 104px;
  text-transform: uppercase;
  color: #FAE420;
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Thirsty Caps";
  font-size: 70px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  background-size: cover;
  background-position: center;
}

button,
.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

button:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

button-white,
.btn-white {
  background-color: white;
  color: black;
}

button-white:hover,
.btn-white:hover {
  background-color: #AA0250;
  color: white;
}

button-red,
.btn-red {
  background-color: #AA0250;
  color: white;
}

button-red:hover,
.btn-red:hover {
  background-color: white;
  color: black;
}

button-black,
.btn-black {
  background-color: black;
  color: white;
}

button-black:hover,
.btn-black:hover {
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.yellow {
  color: #FAE420;
}

.f-gilroy {
  font-family: 'Gilroy';
}

.fs-25 {
  font-size: 25px;
  line-height: 31px;
}

.fs-20 {
  font-size: 20px;
}

.fs-23 {
  font-size: 23px;
}

.lh-20 {
  line-height: 20px;
}

.lh-26 {
  line-height: 26px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.back-img {
  position: absolute;
  opacity: 0.15;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  padding: 33px;
}

.footer a {
  color: black;
}

.footer__title {
  margin-bottom: 21px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.footer__social .social-item {
  width: 60px;
  height: auto;
}
@supports (-webkit-appearance:none){
.first__arrow{background-image:url("../img/arrow.svg")}
}
